body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2a7f30;
}


.container {
    background:rgba(189, 230, 199, 0.826);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    border: 2px solid black;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #2a7f30;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #235e26;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2a7f30;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.ui-datepicker {
    background-color: #f0f0f0;  /* Light grey background */
    
}
