body{
    width :100%;
    height: 100vh;
    
}
#container{
    width: 356.8px;
}
div div{
    margin: 10px;;
    background-color: yellow;
    width: 140px;
    height:100px;
}
#col3{
    margin-right: 0px;
}
#row1 , #row2 ,#row3{
    width: 356.8px;
    display: flex;
    flex-direction: row;
}
